<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/about" title="About">About</a>
        <a class="page-link" href="{{ site.baseurl }}/domains" title="Domains I own">Domains</a>
        <a class="page-link" href="{{ site.baseurl }}/pocs" title="Proof of Concepts I've thrown at the wall">Proof of Concepts</a>
      </div>
    </nav>

  </div>

</header>
